{% extends 'LucianBgImageBundle::layout.html.twig' %}

{% block content %}
    <h1 class="title">Login</h1>

    <p>
        Choose between two default users: <em>user1/userpass1, etc.</em>
    </p>

    <form id="login-form" action="{{ path("_security_check") }}" method="post" id="login">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Login</span>
                </span>
            </span>
        </button>
    </form>

	<script type="text/javascript">
		// Check if jQuery is loaded
		if (typeof jQuery != 'function') {
			document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"><\/script>');
		}
	</script>
	<script type="text/javascript">
		$(function ()
		{
			$('#login-form').submit(function (e) {
				e.preventDefault();

				var $this = $(e.currentTarget)
					inputs = {};

				// Send all form's inputs
				$.each($this.find('input'), function (i, item) {
					var $item = $(item);
					inputs[$item.attr('name')] = $item.val();
				});

				// Send form into ajax
				$.ajax({
					url: $this.attr('action'),
					type: 'POST',
					dataType: 'json',
					data: inputs,
					success: function (data) {
						if (data.has_error) {
							// Insert your error process
							alert('Error: ' + data.error);
						}
						else {
							// Insert your success process
							alert('Welcome ' + data.username + ' !');
//							window.location = data.target_path;
						}
					}
				});

				return false;
			});
		});
	</script>
{% endblock %}
